// Core
@import "../../node_modules/normalize.css/normalize.css";
@import "core/variables.styl";
@import "core/mixins.styl";
@import "core/fonts.styl";

// Sprites
@import "sprites/svg-sprite.styl";
@import "sprites/png-sprite.styl";

// Libs
@import "../../node_modules/swiper/dist/css/swiper.css";

// Commons modules
@import "common/base.styl";
@import "common/common.styl";

// Modules
@import "blocks/header.styl";
@import "blocks/footer.styl";
@import "blocks/section-1.styl";
@import "blocks/map.styl";
@import "blocks/about.styl";
@import "blocks/works.styl";
@import "blocks/routes.styl";
@import "blocks/calendar.styl";
@import "blocks/custom.styl";
@import "blocks/social.styl";
@import "blocks/routes-top.styl";
@import "blocks/passenger.styl";

// Modificators
@import "mods/calendar.styl";


// Globals
@import "common/global.styl";
@import "common/atom.styl";

// Utility classes
@import "core/utilities.styl"; // Has to be last to override when necessary