//- Предупреждение для генерируемызх php файлов
| <?
| /**/
| /** ВНИМАНИЕ!
| * Этот файл сгенерирован автоматически и не подлежит редактированию.
| * Исходники лежат в папке templates/src/jade
| */
| /**/
| ?>