section#custom.custom
  .custom--container.container
    h2.custom--heading Во время бронирования не нашли свой населенный пункт?
    h3.custom--description Или Ваш город остается вне нашего маршрута?  Не огорчайтесь - мы довезём Вас! Просто оставьте заявку! И мы свяжемся с Вами в течение 10 минут! 
    a.btn.btn__form.requireCustom.custom--require Оставить заявку