mixin footer(data)
  - data = data || {}
  footer.footer
    .footer--container.container
      p Попутчик24
      a(href="/").footer--login 
        i.fas.fa-sign-in-alt
        |Войти
      .footer--nav
        nav.footer--nav--menu
          a(href="/#map").footer--nav--item География
          a(href="/#routes").footer--nav--item Стоимость
          a(href="/#calendar").footer--nav--item Бронирование
          a(href="/#social").footer--nav--item Контакты
        a(href="tel:+79000000000").footer--phone 
          i.fas.fa-phone
          |+79000000000
      hr
      .footer--nav__middle
        nav.footer--nav--menu
          a(href="/#map").footer--nav--item Тюмень - Ханты-Мансийск
          a(href="/#routes").footer--nav--item Сургут - Нижневартовск
          a(href="/#calendar").footer--nav--item Тюмень - Нягань
          a(href="/#social").footer--nav--item  Тюмень - Сургут
          a(href="/#calendar").footer--nav--item Сургут - Ноябрьск
          a(href="/#social").footer--nav--item  Тюмень - Ноябрьск
          a(href="/#social").footer--nav--item  Ханты-Мансийск - Сургут
          a(href="/#routes").footer--nav--item Тюмень - Нижневартовск
        hr
      .footer__bottom
        a(href="javascript:void(0)").footer--copy &copy; monkeysbrain 2019
        a.btn.btn__form.btn__footer.requireCustom.custom--require Оставить заявку