section#routes.routes.parallax
  .routes--container.container
    h2.routes--heading
    h3.routes--heading__description Города и стоимость поездки
    section.routes--list
      article.routes--list--item
        img.routes--list--img(src="/templates/build/images/content/route-1.jpg", alt="")
        .routes--list--description
          .routes--list--route Тюмень - Ханты-Мансийск
          .routes--list--price 
            span 1500
            | &#8381;
          a(href="/route/").routes--list--link.btn.btn__transparent Забронировать
      article.routes--list--item
        img.routes--list--img(src="/templates/build/images/content/route-1.jpg", alt="")
        .routes--list--description
          .routes--list--route Тюмень - Ханты-Мансийск
          .routes--list--price 
            span 1500
            | &#8381;
          a(href="/route/").routes--list--link.btn.btn__transparent Забронировать
      article.routes--list--item
        img.routes--list--img(src="/templates/build/images/content/route-1.jpg", alt="")
        .routes--list--description
          .routes--list--route Тюмень - Ханты-Мансийск
          .routes--list--price 
            span 1500
            | &#8381;
          a(href="/route/").routes--list--link.btn.btn__transparent Забронировать
      article.routes--list--item
        img.routes--list--img(src="/templates/build/images/content/route-1.jpg", alt="")
        .routes--list--description
          .routes--list--route Тюмень - Ханты-Мансийск
          .routes--list--price 
            span 1500
            | &#8381;
          a(href="/route/").routes--list--link.btn.btn__transparent Забронировать
      article.routes--list--item
        img.routes--list--img(src="/templates/build/images/content/route-1.jpg", alt="")
        .routes--list--description
          .routes--list--route Тюмень - Ханты-Мансийск
          .routes--list--price 
            span 1500
            | &#8381;
          a(href="/route/").routes--list--link.btn.btn__transparent Забронировать
      article.routes--list--item
        img.routes--list--img(src="/templates/build/images/content/route-1.jpg", alt="")
        .routes--list--description
          .routes--list--route Тюмень - Ханты-Мансийск
          .routes--list--price 
            span 1500
            | &#8381;
          a(href="/route/").routes--list--link.btn.btn__transparent Забронировать
      article.routes--list--item
        img.routes--list--img(src="/templates/build/images/content/route-1.jpg", alt="")
        .routes--list--description
          .routes--list--route Тюмень - Ханты-Мансийск
          .routes--list--price 
            span 1500
            | &#8381;
          a(href="/route/").routes--list--link.btn.btn__transparent Забронировать
      article.routes--list--item
        img.routes--list--img(src="/templates/build/images/content/route-1.jpg", alt="")
        .routes--list--description
          .routes--list--route Тюмень - Ханты-Мансийск
          .routes--list--price 
            span 1500
            | &#8381;
          a(href="/route/").routes--list--link.btn.btn__transparent Забронировать
