section.routes-top.parallax
  .routes-top--container.container
    .section-top--heading
      h1 Тюмень - Нягань
      h2 
        | Стоимость - 1000р
        br
        | Расстояние - 800км
        br
        | Среднее время в пути - 10 часов