section#map.map
  .map--container.container
    h2.map--heading География работы
    .map--description
      h3.map--description__heading Вы планируете поехать в другой город? Мы Вам поможем!
      p.map--description__content Больше не нужно тратить время на лишние пересадки. Звоните нам - быстро добирайтесь до нужного адреса!
  .map--wrapper
    img(src="/templates/build/images/content/map.jpg", alt="").map--img
    // script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A143606362518c729bb4aef2d31f68a5cd1705dad51467e6020b9a678fb7ca4dc&width=100%25&height=600&lang=ru_RU&scroll=false')