section#section-1.section-top
  .section--video.container
    .section-top--heading
      h1 Поездки в города ЯНАО и Югры - КАЖДЫЙ ДЕНЬ!
      h2 
        | БЫСТРЕЕ, чем на поезде
        br
        | ДЕШЕВЛЕ, чем на самолете
    