section#about.about
  .about--container.container
    h2.about--heading
      | Поездка с комфортом
    h3.about--heading__description
      | Требуется комфорт и высокий уровень вождения?
    .abiut--line
    p.about--description
      |Компания Попутчики более 7 лет оказывает услуги по пассажирским перевозкам! И уже зарекомендовала себя, как надежный и комфортный сервис на территории Югры и всей Тюменской области. Поездка в современном автомобиле с приятными бонусами - это для Вас! Звоните нам! Количество мест ограничено!
    .about--benefits
      h3.about--benefits--header
        | В поездке мы предлагаем своим пассажирам:
      article.about--benefits--item
        img.about--benefits--item--image(src="/templates/build/images/content/a-1.png", alt="")
        p.about--benefits--item--description Теплые, уютные пледы
      article.about--benefits--item
        img.about--benefits--item--image(src="/templates/build/images/content/a-2.png", alt="")
        p.about--benefits--item--description Красивые и удобные подушки
      article.about--benefits--item
        img.about--benefits--item--image(src="/templates/build/images/content/a-3.png", alt="")
        p.about--benefits--item--description Бутылки с питьевой водой