section#social.social
  .social--container.container
    h2.social--heading Хотите всегда быть в курсе событий?
    h3.social--description Знать об акциях и выгодных предложениях? Добавляйтесь в нашу группу 
      a(href="https://vk.com/poputchikitxn" target="_blank") Вконтакте
      | , подписывайтесь на нас в 
      a(href="https://www.instagram.com/poputchiktixn/?hl=ru" target="_blank") Instаgram 
      | ! Участвуйте в розыгрыше ценных призов! Мы ждём Вас!
    .social--wrapper
      a(href="https://vk.com/poputchikitxn" target="_blank").social--link.social--link__vk
        i.fab.fa-vk
      a(href="https://www.instagram.com/poputchiktixn/?hl=ru" target="_blank").social--link
        i.fab.fa-instagram