section#works.works
  .works--container.container
    h2.works--heading Как мы работаем
    h3.works--description Три простых шага для начала поездки
    section.works--items
      article.works--item
        .works--item--number 1
        p.works--item--description
          | Выберете дату,  маршрут и забронируйте место
      article.works--item
        .works--item--number 2
        p.works--item--description
          | Дождитесь подтверждения брони от диспетчера
      article.works--item
        .works--item--number 3
        p.works--item--description
          | Оплатите поездку любым удобным способом
    a(href="/").btn.btn__transparent Перейти к бронированию