//
// Utility classes
// --------------------------------------------------

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

.desktop .hide-on-desktop,
.desktop .show-on-tablet,
.desktop .show-on-mobile,
.tablet .hide-on-tablet,
.tablet .show-on-desktop,
.tablet .show-on-mobile,
.mobile .hide-on-mobile,
.mobile .show-on-desktop,
.mobile .show-on-tablet {
  display: none;
}
