// Paths
$pathToImg = "../../build/images/"
$pathToDevImg = "../../src/images/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = sans-serif;
$fontPrimary = 'PT Sans', $reserveFonts;

// Sizes
$widthContent = 110rem;
$heightHeader = 10rem;
$heightFooter = 5rem;

// Colors
$blue = #6673b8
$grey = #3d3d3d

// Animation
$fast = .5s ease-in-out all