.custom
  background #fff
  padding-bottom 5rem
  background url("../images/content/custom.jpg") center no-repeat
  background-size cover
  &--container
    position relative
  &--heading
    padding-top 5rem
    color #fff
    text-shadow: .2rem .2rem .5rem #000
  &--description
    color: #000
    text-shadow: 0.1rem 0.1rem 0.1rem #00000050
    text-align: center
    font-size: 2.5rem
    font-weight: 600
  &--require
    width: 100%;
    max-width: 20rem;
    margin: 5rem auto;
    font-size: 2rem;