.map
  background #6673b830
  &--container
    position relative
    color #000000
  &--heading
    color #fff
    text-shadow: .2rem .2rem .5rem #000
    padding 12rem 0 0
  &--description
    &__heading
      color: #000
      text-shadow: .1rem .1rem .1rem #00000050
      text-align center
      font-size 2.5rem
      font-weight 600
    &__content
      text-align center
      font-size: 2rem
  &--wrapper
    margin-top 10rem